@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); 
h1,h2,h3,h4,h5,h6,a,ul,li,p,label{
  color: black;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
}
body{
  
  background-image: fill;
  margin: 0 !important;

}

/*Navbar*/
nav{
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#52cbb7;
  position: sticky;
  top: 0;

  
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;

}

.logo{
  float: left;
  display: inline-block;

}

.aboutUs{
  margin-left: 55vw;
}

.nav-li .navButton:hover {
  background-color: #92F2E3;
}

/*content*/
#gamebody{
	margin: 10px;
	padding: 15px;
	transition: all 0.2s ease-in-out;
}
#gametitle{
	margin: 5px;
	padding: 15px 15px 0 15px;
	border-bottom: 2px solid black;
	width: 20%;
}

#spacechesspic{
  	width: 60rem;
  	margin: 20 vw;
  	padding: 3vw 1vw 3vw 1vw;
}

#c4tsgamepic{
	width: 60rem;
  	margin: 20 vw;
  	padding: 3vw 1vw 3vw 1vw;
}
#squidusgame{
	width: 60rem;
  	margin: 20 vw;
  	padding: 3vw 1vw 3vw 1vw;
}
.fa-solid{
	color: black;
	background-color: none;
	margin-left: 1vh;
}

.fa-brands{
	font-size: 30px;
	color: black;
	background-color: none;
	margin-left: 3vh;
}
.fa-brands:hover{
	transform: scale(1.5);
	transition: all 1s ;
	color: #42a87e;

}

.containerBuy{
	display: flex;
	flex-direction: column;
}

.buyOn{
	display: inline-flex;
	align-items: baseline;
    justify-content: flex-start;
}

.gameDes{
	width: 75%;
  	padding: 0 18px;
	display: none;
	overflow: hidden;
	backdrop-filter: blur(10px); /*blurs background*/
}

.collapse {
	background-color: #3a555c;
	cursor: pointer;
	padding: 2px;
	border: none;
	text-align: left;
	outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapse:hover {
  color: #92F2E3;
}
.fa-solid:hover{
	color: #92F2E3;
}
.reqList{
	list-style-type: circle;
}
.fa-star{
	font-size: 20px;
	color: black;
	background-color: none;
	margin-left: 1vh;
}
.fa-star,.fa-star-half-stroke{
	font-size: 20px;
	color: black;
	background-color: none;
	margin-left: 1vh;
	margin-bottom: 2vh;
}

.nav-li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 15px 15px 15px;
	text-decoration: none;
  
  }