.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px 15px 15px;
    text-decoration: none;

    }


body{
    background-color: #dffffc;
}

.aboutUs {
    margin-left: 45vw;
}

