h1,h2,h3,h4,h5,h6,a,ul,li,p{
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

/*Navbar*/
nav{
  margin: 0;
  padding: 0;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #55B4B0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo{
  float: left;
  display: inline-block;

}

.aboutUs{
  margin-left: 55vw;
}

li a:hover {
  background-color: #92F2E3;
}

p:hover {
  color: #963484;

}

/*HOMEPAGE STYLES*/
/*body*/
body{
  margin: 0 !important;

}
.container{
  display:flex;
}

/*images*/

/*footer*/
.feature{
  text-align: center;
}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container3{
  display: inline-flex;
}
/*LOGIN STYLE*/
#loginbody{
  background: rgb(119,199,196);
  background: linear-gradient(90deg, rgba(119,199,196,1) 0%, rgba(138,206,203,1) 35%, rgba(255,255,255,1) 100%);
}