h1,h2,h3,h4,h5,h6,a,ul,li,p{
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}

/*Navbar*/
nav{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #55B4B0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo{
  margin: 7px 1px 1px 45px;
}

.aboutUs{
  margin-left: 55vw;
}

li a:hover {
  background-color: #92F2E3;
}

p:hover {
  color: #963484;

}

/*HOMEPAGE STYLES*/
/*body*/
body{
  margin: 0 !important;
}
/*images*/

/*footer*/

/*ABOUT US STYLE*/